/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* --- */

/* CSS reset */

* {
    font-family: 'Space Grotesk', arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: normal;
    -webkit-tap-highlight-color: transparent;
}

/* --- */

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    background-color: #f4f8fc;
}

header h1 {
    margin-top: 4rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(to right,
            hsl(330, 100%, 45.1%) 0%,
            hsl(332, 89.44%, 47.61%) 7.6%,
            hsl(334.4, 80.96%, 49.84%) 14.7%,
            hsl(337.33, 79.59%, 51.96%) 21.5%,
            hsl(340.82, 78.71%, 53.95%) 28.1%,
            hsl(344.9, 77.81%, 55.83%) 34.4%,
            hsl(349.59, 76.89%, 57.57%) 40.5%,
            hsl(354.91, 75.98%, 59.18%) 46.6%,
            hsl(0.83, 75.35%, 60.23%) 52.7%,
            hsl(6.56, 76.37%, 58.5%) 58.8%,
            hsl(11.62, 77.4%, 56.63%) 65%,
            hsl(16.02, 78.4%, 54.62%) 71.4%,
            hsl(19.81, 79.37%, 52.47%) 78%,
            hsl(23.01, 80.31%, 50.2%) 84.9%,
            hsl(25.65, 88.69%, 47.8%) 92.2%,
            hsl(27.91, 100%, 45.1%) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* H1 split in 3 spans for customization purposes */

.rock {}

.paper {}

.scissors {}

/* --- */

/* Start game section */

.start-game-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.start-game-button {
    position: relative;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
        linear-gradient(to right,
            hsl(330, 100%, 45.1%) 0%,
            hsl(332, 89.44%, 47.61%) 7.6%,
            hsl(334.4, 80.96%, 49.84%) 14.7%,
            hsl(337.33, 79.59%, 51.96%) 21.5%,
            hsl(340.82, 78.71%, 53.95%) 28.1%,
            hsl(344.9, 77.81%, 55.83%) 34.4%,
            hsl(349.59, 76.89%, 57.57%) 40.5%,
            hsl(354.91, 75.98%, 59.18%) 46.6%,
            hsl(0.83, 75.35%, 60.23%) 52.7%,
            hsl(6.56, 76.37%, 58.5%) 58.8%,
            hsl(11.62, 77.4%, 56.63%) 65%,
            hsl(16.02, 78.4%, 54.62%) 71.4%,
            hsl(19.81, 79.37%, 52.47%) 78%,
            hsl(23.01, 80.31%, 50.2%) 84.9%,
            hsl(25.65, 88.69%, 47.8%) 92.2%,
            hsl(27.91, 100%, 45.1%) 100%);
    color: #f4f8fc;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 5px;
    box-shadow: 1px 1px 13px 1px rgba(5, 5, 5, 0.1);
    cursor: pointer;
    transform: scale(1);
    opacity: 1;
    transition: transform 0.4s, opacity 0.4s;
}

.start-game-button.hide {
    transform: scale(0);
    opacity: 0;
}

/* Game section */

.game-container {
    height: 500px;
    position: relative;
    display: none;
    align-items: center;
    flex-flow: column;
    color: #f4f8fc;
    margin: auto;
    padding: 2rem;
    background-image: linear-gradient(110deg,
            hsl(330, 100%, 45.1%) 0%,
            hsl(332, 89.44%, 47.61%) 7.6%,
            hsl(334.4, 80.96%, 49.84%) 14.7%,
            hsl(337.33, 79.59%, 51.96%) 21.5%,
            hsl(340.82, 78.71%, 53.95%) 28.1%,
            hsl(344.9, 77.81%, 55.83%) 34.4%,
            hsl(349.59, 76.89%, 57.57%) 40.5%,
            hsl(354.91, 75.98%, 59.18%) 46.6%,
            hsl(0.83, 75.35%, 60.23%) 52.7%,
            hsl(6.56, 76.37%, 58.5%) 58.8%,
            hsl(11.62, 77.4%, 56.63%) 65%,
            hsl(16.02, 78.4%, 54.62%) 71.4%,
            hsl(19.81, 79.37%, 52.47%) 78%,
            hsl(23.01, 80.31%, 50.2%) 84.9%,
            hsl(25.65, 88.69%, 47.8%) 92.2%,
            hsl(27.91, 100%, 45.1%) 100%);
    border-radius: 5px;
}

.game-container.show {
    animation: scale-opacity 0.4s linear;
}

@keyframes scale-opacity {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(0.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Game container gradient box-shadow */

.game-container:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #e65800 0%, #e60073 100%);
    transform: translate3d(3px, 2px, 0) scale(1);
    filter: blur(20px);
    opacity: var(0.01);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/

.game-container::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

/* ---- */

/* Game container content */

.game-title {
    text-align: center;
    text-shadow: 1px 1px 13px rgba(5, 5, 5, 0.1);
}

/* Options container - contains Home and Restart buttons with a div in middle which displays different messages when a round ends. */

.game-options {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.home-button,
.game-info,
.restart-button {
    padding: 0.8rem 1.3rem;
    text-align: center;
    background-color: #f4f8fc;
    border-radius: 5px;
    box-shadow: 1px 1px 13px 1px rgba(5, 5, 5, 0.1);
}

.home-button,
.restart-button {
    width: 100px;
    font-weight: bold;
}

.home-button {
    color: hsl(330, 100%, 45.1%);
    text-decoration: none;
}

.game-info {
    flex: 1;
}

.game-info p {
    background: linear-gradient(to right,
            hsl(330, 100%, 45.1%) 0%,
            hsl(332, 89.44%, 47.61%) 7.6%,
            hsl(334.4, 80.96%, 49.84%) 14.7%,
            hsl(337.33, 79.59%, 51.96%) 21.5%,
            hsl(340.82, 78.71%, 53.95%) 28.1%,
            hsl(344.9, 77.81%, 55.83%) 34.4%,
            hsl(349.59, 76.89%, 57.57%) 40.5%,
            hsl(354.91, 75.98%, 59.18%) 46.6%,
            hsl(0.83, 75.35%, 60.23%) 52.7%,
            hsl(6.56, 76.37%, 58.5%) 58.8%,
            hsl(11.62, 77.4%, 56.63%) 65%,
            hsl(16.02, 78.4%, 54.62%) 71.4%,
            hsl(19.81, 79.37%, 52.47%) 78%,
            hsl(23.01, 80.31%, 50.2%) 84.9%,
            hsl(25.65, 88.69%, 47.8%) 92.2%,
            hsl(27.91, 100%, 45.1%) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.restart-button {
    cursor: pointer;
}

.restart-button p {
    color: hsl(27.91, 100%, 45.1%);
}

/* --- */

/* Scoreboard container */

.scoreboard {
    height: 100%;
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    text-align: center;
}

/* --- */

/* Twin containers - one for player and one for computer. Similar layout */

.player-container,
.computer-container {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem 2rem 1rem 2rem;
    overflow: hidden;
    font-size: 1.4rem;
    border: 4px solid #f4f8fc;
    border-radius: 5px;
    box-shadow: 1px 1px 13px 1px rgba(5, 5, 5, 0.1);
    text-shadow: 1px 1px 13px rgba(5, 5, 5, 0.1);
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* --- */

.player-buttons {
    display: flex;
    gap: 2rem;
}

.game-buttons {
    display: flex;
    gap: 2rem;
}

/* Font Awesome icons used for Rock Paper and Scissors options. Only the icons on player's end can be interacted with */

.rock-icon-player,
.paper-icon-player,
.scissors-icon-player,
.rock-icon-computer,
.paper-icon-computer,
.scissors-icon-computer {
    font-size: 5rem;
    color: #f4f8fc;
    filter: drop-shadow(1px 1px 13px rgba(5, 5, 5, 0.1));
    transition: transform 0.3s;
}

.rock-icon-player.selected,
.paper-icon-player.selected,
.rock-icon-computer.selected,
.paper-icon-computer.selected {
    transform: scale(1.2);
}

.scissors-icon-player.selected,
.scissors-icon-computer.selected {
    transform: scale(1.2) rotate(90deg);
}

.rock-icon-player,
.paper-icon-player,
.scissors-icon-player {
    cursor: pointer;
}

.scissors-icon-player,
.scissors-icon-computer {
    transform: rotate(90deg);
}

.player-final-results,
.computer-final-results {
    position: absolute;
    left: 0;
    bottom: -120px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: #f4f8fc;
    transition: .3s;
}

.player-final-results.show,
.computer-final-results.show {
    transform: translateY(-100%);
}

.player-final-results p {
    color: hsl(330, 100%, 45.1%);
}

.computer-final-results p {
    color: hsl(23, 100%, 45.1%);
}

/* ---- */